.header-container {
    padding-top: 50px;
}
.bg-light {
    background-color: #25292F!important;
}
#navtitle {
    color: white;
}
.searchbtn {
    background-color: #25292F!important;
    color: white;
    border: none;
}
h5, h6 {
    color: black;
    padding-left: 15px;
}
#noSaved {
    position: relative;
    top: 50px;
}
h1, h2{
    color: #254C5E;
}
#savebtn {
    margin-left: 15px;
}
#books {
    position: relative;
    left: 220px;
}